In [15]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [16]:
df =pd.read_csv('data.csv')

In [17]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [22]:
df.bedrooms=df.bedrooms.fillna(4)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [24]:
model=linear_model.LinearRegression()
model.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [25]:
model.predict([[3000,3,10]])

array([595359.7888393])

In [26]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [27]:
model.intercept_

221323.00186540408